* {
    user-select: none;
}

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#page-core {
    position: relative;
    gap: 20px;
    padding: 0 10px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.selection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border: 10px solid red;
    gap: 30px;
    width: 1379.73px;
    height: 790px;
    padding-right: 45px;
}

.green-push-pin {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 62px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    height: fit-content;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

h1 {
    position: absolute;
    font-size: 1.8em;
    font-weight: bold;
    left: 78%;
    top: -4%;
}

h2 {
    position: absolute;
    font-size: 1.8em;
    font-weight: bold;
    left: 8%;
    top: 3%;
}

.button:hover {
    transform: scale(1.1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    padding: 20px 0;
    padding-bottom: 40px;
    height: 90%;
}

.sidebar .button {
    padding: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.sidebar-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}

.sidebar-top .button {
    width: fit-content;
    height: fit-content;
    border: none;
}

.sidebar-top .button img {
    width: 170px;
    height: 173px;
}

#reset-best-times {
    width: 340px;
    height: 132px;
}

#game-history {
    width: 254px;
    height: 127px;
}

#game-settings {
    width: 254px;
    height: 127px;
}

.top {
    top: -5%;
}

.bottom {
    bottom: -1%;
}

.left {
    left: -1%;
}

.right {
    right: -2%;
}
.sound-selection-title {
    text-align: center;
    margin-bottom: 20px;
}

.sound-selection-title h3 {
    font-size: 20px;
    margin: 0;
}

.sound-selection {
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px;
}

.listen-button,
.confirm-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.listen-button:hover,
.confirm-button:hover {
    background-color: #0056b3;
}
.dark-theme {
    color: #fff; /* Couleur du texte pour le thème sombre */
}
/* CSS pour les boutons en état "hover" */
.listen-button:hover,
.confirm-button:hover {
    background-color: #007bff; /* Changez la couleur de fond en survol */
    color: #fff; /* Changez la couleur du texte en survol */
    cursor: pointer; /* Changez le curseur en une main pointant vers le bas */
}

/* CSS pour les boutons en état "active" */
.listen-button:active,
.confirm-button:active {
    background-color: #0056b3; /* Changez la couleur de fond lorsque le bouton est appuyé */
    transform: translateY(2px); /* Déplacez légèrement le bouton vers le bas lorsque le bouton est appuyé */
}
.button {
    padding: 10px 20px; /* Augmenter la taille du padding pour rendre les boutons plus grands */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Ajouter de l'espace entre les boutons */
    font-size: 16px; /* Augmenter la taille de la police */
    font-weight: bold; /* Rendre le texte en gras */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    letter-spacing: 1px;
}

.button:hover {
    background-color: #0056b3;
}
